// Hover effect of sider items
:where(.css-dev-only-do-not-override-1hsjdkk).ant-menu-light:not(
    .ant-menu-horizontal
  )
  .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: #f5f5f5;
  color: #000;
}

// Background of bottom trigger
// :where(.css-dev-only-do-not-override-1hsjdkk).ant-layout
//   .ant-layout-sider-trigger {
//   background-color: #5f8524 !important;
// }
:where(.css-dev-only-do-not-override-1hsjdkk).ant-layout
  .ant-layout-sider-trigger {
      background-color: #5f8524 !important;

}

// Icons size
.medium-size-icon {
  span {
    svg {
      font-size: 30px;
    }
  }
}

// Card title on header
:where(.css-dev-only-do-not-override-1hsjdkk).ant-card .ant-card-head {
  font-size: 20px !important;
}

.ant-card-head-title {
  font-size: 20px !important;
}
